:root {
  --top-panel-height: 230px;
  --top-panel-max-width: 800px;
}

.App {
    text-align: center;
    height: 100%;
}

button {
    width: 300px;
    height: 50px;
    font-size: 30px;
}

.top-panel {
  max-width: var(--top-panel-max-width);
  height: var(--top-panel-height);
  margin: 16px auto;

  display: flex;
  align-items: stretch;
  box-sizing: border-box;

  overflow: hidden; 
}

.top-panel-row{
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.top-panel-card {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background: white;
  border: 1px solid #000000;
  border-radius: 16px;
  box-sizing: border-box;
}

.top-panel-card-option {
  flex-direction: column;
}

.top-panel-card-selected {
  flex-direction: row;
}

.top-panel-card-clickable {
  cursor: pointer;
}

.top-panel-card-icon {
  
  align-items: center;
  justify-content: center;
}

.top-panel-card-icon-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 5px;
}

.top-panel-card-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.top-panel-select {
  width: 100%;
}

.placeholder-text {
  display: block;
  min-height: 1.25rem;
  margin-top: 0.5rem;
}



@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
