
.Bucket {
  border: solid 0px;
  height: 100%;
  font-size: 9px;
}
.Bucket:hover {
  cursor: pointer;
}

.TargetBucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
  background-color: green;
}
.TargetBucket:hover {
  cursor: pointer;
}

.System {
  display: grid;
  height: 80vh;
  margin: 20px;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
  border: solid 2px;
}

.Container {
  display: grid;
}

.Bin {
  border: solid 1px;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}