
.Bucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
}
.Bucket:hover {
  cursor: pointer;
}

.TargetBucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
  background-color: green;
}
.TargetBucket:hover {
  cursor: pointer;
}

.BinTable {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  border: solid 5px;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

tr {
  border: solid 1px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

td {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}