
.Bucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
}
.Bucket:hover {
  cursor: pointer;
}

.TargetBucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
  animation: blink 1s step-start infinite;
}
.TargetBucket:hover {
  cursor: pointer;
}

@keyframes blink {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

.BinTable {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  border: solid 5px;
}

table {
  width: 100%;
  height: 100%;
  border: solid 2px;
}
