
.Bin {
  height: 100%;
}
.Bin:hover {
  cursor: pointer;
}

.TargetBin {
  height: 100%;
  background-color: green;
}
.TargetBin:hover {
  cursor: pointer;
}

.System {
  display: grid;
  height: 80vh;
  margin: 20px;
  padding: 20px;
  row-gap: 20px;
  column-gap: 20px;
  border: solid 2px;
}

.Container {
  display: grid;
}

.Bin {
  border: solid 1px;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}