
.Bucket {
  border: solid 2px;
  height: 100%;
  font-size: 9px;
}

.BinTable {
  width: 80%;
  margin-left: 10%;
  height: 100%;
  border: solid 5px;
}

table {
  width: 100%;
  height: 100%;
  border: solid 2px;
}
